 {% load static %}
  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url 'index' %}" class="logo">
                        <img src="{% static  'assets/images/logo.png' %}" alt="" style="width: 158px;">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                      <li><a href="{% url 'index' %}" class="active">Home</a></li>
                      <li><a href="{% url 'shop' %}">Our Shop</a></li>
                      <li><a href="{% url 'contact' %}">Contact Us</a></li>
                        {% if request.user.is_authenticated %}
                            <li><a href="{% url 'cart' %}">Shop Cart</a></li>
                              <li><a href="{% url 'logout' %}">Logout</a></li>

                        {% else %}
                      <li><a href="{% url 'registration' %}">Sign In</a></li>
                        {% endif %}
                  </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->